        <footer class="site-footer" alignment = "bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        
                    </div>
                </div>

                <p class="colophon">Copyright 2020 The Weatherists. All rights reserved</p>
            </div>
        </footer>

        <script src="/script.js"></script>
        <script>
            
        </script>
    </body>
</html>