footer{
  display: block; }

html {
  background: #fff;
  color: #000;
   }

html,
button{
  font-family: sans-serif; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

b,
strong {
  font-weight: bold; }

small {
  font-size: 80%; }

button
{
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  line-height: normal; 
  text-transform: none;
}

body {
  color: #bfc1c8;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  background: #1e202b; }

h1, h2, h3{
  font-weight: 700;
  margin: 0 0 20px;
  line-height: normal; }


ul{
  margin: 0;
  padding-left: 0; 
}

a {
  text-decoration: none;
  color: #009ad8; }

address {
  font-style: normal; }

p {
  margin-top: 0; }

.map {
  height: 220px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.site-header {
  padding: 50px 0; }
  .site-header .branding {
    float: left; }
    .site-header .branding .logo, .site-header .branding .logo-type {
      display: inline-block;
      vertical-align: middle; }
    .site-header .branding .logo {
      margin-right: 10px; }
    .site-header .branding .site-title {
      margin-bottom: 5px;
      font-size: 16px;
      font-size: 1.1428571429em;
      color: white; }
    .site-header .branding .site-description {
      font-size: 10px;
      
      display: block;
      color: #bfc1c8; }

.main-navigation {
  float: right; }
  .main-navigation .menu-toggle, .main-navigation .menu {
    vertical-align: middle; }
  .main-navigation .menu-toggle {
    background: none;
    border: 2px solid transparent;
    color: white;
    padding: 20px;
    border-radius: 40px;
    -webkit-transition: .3s ease;
            transition: .3s ease;
    display: none;
    outline: none; }
    @media screen and (max-width: 990px) {
      .main-navigation .menu-toggle {
        display: inline-block; } }
    .main-navigation .menu-toggle:hover, .main-navigation .menu-toggle:active {
      border-color: #009ad8;
      color: #009ad8; }
  .main-navigation .menu {
    list-style: none;
    display: inline-block;
    *zoom: 1; }
    .main-navigation .menu:after {
      content: " ";
      clear: both;
      display: block;
      overflow: hidden;
      height: 0; }
    @media screen and (max-width: 990px) {
      .main-navigation .menu {
        display: none; } }
    .main-navigation .menu .menu-item {
      float: left;
      margin-left: 10px; }
      .main-navigation .menu .menu-item a {
        padding: 5px 25px;
        border: 2px solid transparent;
        border-radius: 30px;
        color: white;
        -webkit-transition: .3s ease;
                transition: .3s ease;
        font-weight: 400; }
      .main-navigation .menu .menu-item.current-menu-item a, .main-navigation .menu .menu-item:hover a {
        border-color: #009ad8;
        color: #009ad8; }

.site-footer {
  background: #03081d;
  padding: 50px 0; }
  
 
