<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		<title>Weather App</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">
		<link rel="stylesheet" href="/styles2.css">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        
        
		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
	</head>
	
	<body>
		
		<div class="site-header">
			<div class="gif">
				<div id="o">
					<div class="title ml-5" style="opacity: 1;">
						<h3 class="site-title pt-2" style="opacity: 1;"><a href="/about"><i class="fas fa-cloud"></i> The Weatherists</a></h1>
						<ul class="nav justify-content-around flex-column flex-sm-row" style="padding-top: 14px; opacity: 1;">
							<li class="nav-item">
								<a class="nav-link a_modify" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
								<a class="nav-link a_modify" href="/create_post">Create Post</a>
							</li>
							
							<li class="nav-item">
								<a class="nav-link a_modify" href="/your_blog">My Posts</a>
							</li>
							<li class="nav-item">
								<a class="nav-link a_modify" href="/tourism_home">Tourism Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link a_modify" href="/tourism">Travel Advisor</a>
							</li>
							<li class="nav-item">
								<a class="nav-link a_modify" href="/about">About Us</a>
							</li>
							
							
								<li class="nav-item">
									<div class="a_modify"> Signed in as <%= currentUser.username %></div>
								</li>
								<li class="nav-item">
									<a class="nav-link a_modify" href="/logout">Logout</a>
								</li>
							
						</ul> 
					</div>
				</div>
			</div>
		</div>