<div class="container">
    <div class="row mb-5 mt-5">
        <div class="col-6 text-center"><a href="/country_map">Country Maps</a></div>
        <div class="col-6 text-center"><a class="active" href="/climate_map">Climate Maps</a></div>
    </div>
</div>

<ul class="nav nav-pills nav-fill mb-5">
    <li class="nav-item">
        <a class="nav-link" href="/climate_map/temp_map">Temperature</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/climate_map/rain_map">Rainfall</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/climate_map/pressure_map">Pressure</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/climate_map/cloud_map">Clouds</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/climate_map/wind_map">Wind Speed</a>
    </li>
</ul>