<ul class="nav nav-pills nav-fill mb-5">
    <li class="nav-item">
        <a class="nav-link" href="/climate_map" style="font-size: 1.5rem;">Climate Maps</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/country_map" style="font-size: 1.5rem;">World Map</a>
    </li>
</ul>

<ul class="nav nav-pills nav-fill mb-5">
    <li class="nav-item">
        <a class="nav-link" href="/climate_map/temp_map">Temperature</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/climate_map/rain_map">Rainfall</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/climate_map/pressure_map">Pressure</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/climate_map/cloud_map">Clouds</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/climate_map/wind_map">Wind Speed</a>
    </li>
</ul>