<%- include ('./partials/header') %>

		<main>
			<div class="container">
				<% if(currentUser) {%>
					<h1>Welcome! You have signed in as <%= currentUser.username %></h1>
					<% } %>
				<div class="contact-details">
					<div class="map">
						<img class="m-0" src="https://media.giphy.com/media/za5xikuRr0OzK/giphy.gif" alt="Batman is your weather reporter">
					</div>
					<div class="contact-info">
						<address>
							<p>Somewhere on Earth</p>
						</address>
					</div>
				</div>
				<div>
					<h2 class="section-title">About us</h2>
					<p>This is the best weather app.</p>
					<h3 class="section-title"><b>Developers</b></h3>
					<div class="container border border-dark d-flex justify-content-center mb-5">
						<ul>
							<li>Rishiv Chhabria</li>
							<li>Siddharth Nayak</li>
							<li>Yashwik Panchal</li>
							<li>Sanil Pandhare</li>
						</ul>
					</div>
					
					<!--<form action="#" class="contact-form" style="margin: 50px 450px;">
						<div class="row">
							<div class="col-md-6"><input type="text" placeholder="Your name..."></div>
							<div class="col-md-6"><input type="text" placeholder="Email Addresss..."></div>
						</div>
						<div class="row">
							<div class="col-md-6"><input type="text" placeholder="Company name..."></div>
							<div class="col-md-6"><input type="text" placeholder="Website..."></div>
						</div>
						<textarea name="" placeholder="Message..."></textarea>
						<div class="text-right">
							<input type="submit" placeholder="Send message">
						</div>
					</form>-->
				</div>
			</div>
			<!--<div class="container d-flex border border-primary justify-content-center inline">
				<button class="btn btn-info">About</button>
				<button class="btn btn-danger">Contact</button>
				<button class="btn btn-warning">Maps</button>
			</div>
			<div class="container d-flex border border-primary justify-content-between inline">
				<button class="btn btn-info">About</button>
				<button class="btn btn-danger">Contact</button>
				<button class="btn btn-warning">Maps</button>
			</div>
			<div class="container d-flex border border-primary justify-content-center inline">
				<button class="btn btn-info">About</button>
				<button class="btn btn-primary">Us</button>
				<button class="btn btn-danger">Contact</button>
				<button class="btn btn-success">Home</button>
				<button class="btn btn-warning">Maps</button>
			</div>-->
		
		</main> 


		
<%- include ('./partials/footer') %>
		