<%- include ('./partials/header') %>


    <div class="forecast-table mt-5">
        <div class="container">
            <div class="forecast-container">

                <div class="forecast">
                    <div class="forecast-header">
                        <div class="location">Mumbai</div>
                    </div>
                    <div class="row">
                        <div class="col-6 pl-5">
                            <div class="pt-3">	
                                <h2 style="font-size: 30px;"><i class="far fa-sun"></i></h2>             
                            </div>
                        </div>
                        <div class="col-6 pt-3 pr-5">
                            <div class="numCity">28<sup>o</sup>C</div>
                        </div>                       
                    </div>  
                    <div class="row">
                        <div class="col-6 pl-5">
                            <div class="pt-3">	
                                <h2 style="font-size: 30px;"><i class="fas fa-wind"></i></h2>             
                            </div>
                        </div>
                        <div class="col-6 pt-3 pr-5">
                            <div class="numCity">18km/h</div>
                        </div>                       
                    </div>      
                    <div class="row">
                        <div class="col-6 pl-5">
                            <div class="pt-3">	
                                <h2 style="font-size: 30px;"><i class="fas fa-cloud-rain"></i></h2>             
                            </div>
                        </div>
                        <div class="col-6 pt-3 pr-5">
                            <div class="numCity">400mm</div>
                        </div>                       
                    </div>   
                    <div class="row">
                        <div class="col-6 pl-5">
                            <div class="pt-3">	
                                <h2 style="font-size: 30px;"><i class="fas fa-umbrella"></i></h2>             
                            </div>
                        </div>
                        <div class="col-6 pt-3 pr-5">
                            <div class="numCity">75%</div>
                        </div>                       
                    </div>             
                </div>

                <div class="forecast">
                    <div class="forecast-header">
                        <div class="location">Cairo</div>
                    </div>
                    <div class="row">
                        <div class="col-6 pl-5">
                            <div class="pt-3">	
                                <h2 style="font-size: 30px;"><i class="far fa-sun"></i></h2>             
                            </div>
                        </div>
                        <div class="col-6 pt-3 pr-5">
                            <div class="numCity">35<sup>o</sup>C</div>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-6 pl-5">
                            <div class="pt-3">	
                                <h2 style="font-size: 30px;"><i class="fas fa-wind"></i></h2>             
                            </div>
                        </div>
                        <div class="col-6 pt-3 pr-5">
                            <div class="numCity">20km/h</div>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-6 pl-5">
                            <div class="pt-3">	
                                <h2 style="font-size: 30px;"><i class="fas fa-cloud-rain"></i></h2>             
                            </div>
                        </div>
                        <div class="col-6 pt-3 pr-5">
                            <div class="numCity">120mm</div>
                        </div>                       
                    </div>  
                    <div class="row">
                        <div class="col-6 pl-5">
                            <div class="pt-3">	
                                <h2 style="font-size: 30px;"><i class="fas fa-umbrella"></i></h2>             
                            </div>
                        </div>
                        <div class="col-6 pt-3 pr-5">
                            <div class="numCity">34%</div>
                        </div>                       
                    </div> 
                                       
                </div>

                <div class="forecast">
                    <div class="forecast-header">
                        <div class="location">Tokyo</div>
                    </div>
                    <div class="row">
                        <div class="col-6 pl-5">
                            <div class="pt-3">	
                                <h2 style="font-size: 30px;"><i class="far fa-sun"></i></h2>             
                            </div>
                        </div>
                        <div class="col-6 pt-3 pr-5">
                            <div class="numCity">14<sup>o</sup>C</div>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-6 pl-5">
                            <div class="pt-3">	
                                <h2 style="font-size: 30px;"><i class="fas fa-wind"></i></h2>             
                            </div>
                        </div>
                        <div class="col-6 pt-3 pr-5">
                            <div class="numCity">11km/h</div>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-6 pl-5">
                            <div class="pt-3">	
                                <h2 style="font-size: 30px;"><i class="fas fa-cloud-rain"></i></h2>             
                            </div>
                        </div>
                        <div class="col-6 pt-3 pr-5">
                            <div class="numCity">153mm</div>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-6 pl-5">
                            <div class="pt-3">	
                                <h2 style="font-size: 30px;"><i class="fas fa-umbrella"></i></h2>             
                            </div>
                        </div>
                        <div class="col-6 pt-3 pr-5">
                            <div class="numCity">71%</div>
                        </div>                       
                    </div>  
                                         
                </div>

                <div class="forecast">
                    <div class="forecast-header">
                        <div class="location">New York</div>
                    </div>
                    <div class="row">
                        <div class="col-6 pl-5">
                            <div class="pt-3">	
                                <h2 style="font-size: 30px;"><i class="far fa-sun"></i></h2>             
                            </div>
                        </div>
                        <div class="col-6 pt-3 pr-5">
                            <div class="numCity">9<sup>o</sup>C</div>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-6 pl-5">
                            <div class="pt-3">	
                                <h2 style="font-size: 30px;"><i class="fas fa-wind"></i></h2>             
                            </div>
                        </div>
                        <div class="col-6 pt-3 pr-5">
                            <div class="numCity">24km/h</div>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-6 pl-5">
                            <div class="pt-3">	
                                <h2 style="font-size: 30px;"><i class="fas fa-cloud-rain"></i></h2>             
                            </div>
                        </div>
                        <div class="col-6 pt-3 pr-5">
                            <div class="numCity">156mm</div>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-6 pl-5">
                            <div class="pt-3">	
                                <h2 style="font-size: 30px;"><i class="fas fa-umbrella"></i></h2>             
                            </div>
                        </div>
                        <div class="col-6 pt-3 pr-5">
                            <div class="numCity">82%</div>
                        </div>                       
                    </div>   
                                      
                </div>

                <div class="forecast">
                    <div class="forecast-header">
                        <div class="location">Canberra</div>
                    </div>
                    <div class="row">
                        <div class="col-6 pl-5">
                            <div class="pt-3">	
                                <h2 style="font-size: 30px;"><i class="far fa-sun"></i></h2>             
                            </div>
                        </div>
                        <div class="col-6 pt-3 pr-5">
                            <div class="numCity">8<sup>o</sup>C</div>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-6 pl-5">
                            <div class="pt-3">	
                                <h2 style="font-size: 30px;"><i class="fas fa-wind"></i></h2>             
                            </div>
                        </div>
                        <div class="col-6 pt-3 pr-5">
                            <div class="numCity">9km/h</div>
                        </div>                       
                    </div>  
                    <div class="row">
                        <div class="col-6 pl-5">
                            <div class="pt-3">	
                                <h2 style="font-size: 30px;"><i class="fas fa-cloud-rain"></i></h2>             
                            </div>
                        </div>
                        <div class="col-6 pt-3 pr-5">
                            <div class="numCity">345mm</div>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-6 pl-5">
                            <div class="pt-3">	
                                <h2 style="font-size: 30px;"><i class="fas fa-umbrella"></i></h2>             
                            </div>
                        </div>
                        <div class="col-6 pt-3 pr-5">
                            <div class="numCity">91%</div>
                        </div>                       
                    </div>                     
                </div>

            </div>
        </div>
    </div>

<%- include ('./partials/footer') %>