<%- include ('./partials/header.ejs')%>
<style>
    .cf{
        font-size: 20px;
    }
    .form-group{
        margin-bottom: 150px;
    }

    .sd{
        color: burlywood;
        opacity: 10;
    }
</style>
<div class="container sd">
    <form action="/comparison" method="GET">
        <div class="form-group">
          <label for="formGroupExampleInput" style="font-size: x-large;">Enter the name of first city</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="eg. Mumbai" name="city1">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput" style="font-size: x-large;">Enter the name of second city</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="eg.Paris" name="city2">
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-primary">Compare</button>
        </div>
    </form>


    

</div>


<%- include ('./partials/footer.ejs')%>