<%-include ('./partials/header.ejs')%>


<p class="btn-btn primary">Hi everyone</p>

<p>Temp: <%= dcity.dcity1.temp_max %></p>
<p>max temp: <%= dcity.dcity2.temp_max %></p>







<%-include ('./partials/footer.ejs')%>