<%- include ('./partials/header') %>

    <div class="container">
        <div class="row mb-5 mt-5">
            <div class="col-6 text-center"><a class="active" href="/country_map">Country Maps</a></div>
            <div class="col-6 text-center"><a href="/climate_map">Climate Maps</a></div>
        </div>
    </div>

    <div class="container ml-0">
        <img src="https://images-na.ssl-images-amazon.com/images/I/71RgfIeTq6L._SL1148_.jpg" usemap="#Indiamap">
        <map name="Indiamap">
            <area target="_parent" alt="maha" title="maha" href="https://images-na.ssl-images-amazon.com/images/I/71RgfIeTq6L._SL1148_.jpg" coords="220,575,213,587,205,600,208,609,208,622,192,631,170,630,174,735,200,828,207,780,218,761,238,754,252,757,272,737,317,706,333,676,356,655,372,668,385,666,400,669,421,670,415,649,422,633,423,610,315,600,272,595,238,594,288,603,238,595,230,583" shape="poly">
            <area target="_blank" alt="punjab" title="punjab" href="https://images-na.ssl-images-amazon.com/images/I/71RgfIeTq6L._SL1148_.jpg" coords="266,224,248,238,245,262,231,280,232,298,251,299,262,306,271,311,286,306,303,290,299,259,276,218,242,250" shape="poly">
            <area target="_blank" alt="sikkim" title="sikkim" href="https://images-na.ssl-images-amazon.com/images/I/71RgfIeTq6L._SL1148_.jpg" coords="660,397,18" shape="circle">
        </map>

        <img src="https://vignette.wikia.nocookie.net/thefutureofeuropes/images/2/2f/AWOWA.png/revision/latest?cb=20160509022813" class="ml-0" usemap="#Africamap">
        <map name="Africamap">
            <area target="_top" alt="nigger" title="nigger" href="https://vignette.wikia.nocookie.net/thefutureofeuropes/images/2/2f/AWOWA.png/revision/latest?cb=20160509022813" coords="769,304,645,387,616,395,611,437,605,465,534,485,543,513,555,527,585,538,635,505,673,519,703,525,737,516,762,517,799,510,813,474,831,448,842,403,848,372,836,319" shape="poly">
            <area target="_blank" alt="egypt" title="egypt" href="https://vignette.wikia.nocookie.net/thefutureofeuropes/images/2/2f/AWOWA.png/revision/latest?cb=20160509022813" coords="1030,135,1036,335,1220,330,1247,307,1157,136,1209,206,1149,136,1107,144,1202,138,1147,135" shape="poly">
            <area target="_parent" alt="namibia" title="namibia" href="https://vignette.wikia.nocookie.net/thefutureofeuropes/images/2/2f/AWOWA.png/revision/latest?cb=20160509022813" coords="958,1191,929,1410,864,1399,774,1179,868,1180,917,1177,941,1188,943,1194,951,1194" shape="poly">
        </map>
    </div>

<%- include ('./partials/footer') %>