<%- include ('./partials/header.ejs') %>


<main>
    <div class="container">
    
</div>

<html>
  <head>
  <title>
    Weather forecaster and Travel Advisor
    </title>
  </head>

<div id="openweathermap-widget-5" style="margin-left: 500px;">
</div>
<script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];
  window.myWidgetParam.push({id: 5,cityid: '1275339',appid: 'd9543518fdf80937c47abc9d15ee0e52',units: 'metric',containerid: 'openweathermap-widget-5',  });
  (function() {var script = document.createElement('script');
  script.async = true;
  script.charset = "utf-8";script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();
</script>
   
  
  <body>
      <ul>
        <li>This website displays the current weather of any city the user wishes to see.</li>
        <li>This website displays the current weather of any city the user wishes to see.</li>
      </ul>
     <h3>
      About Us:
    </h3>

   This website has been designed by web developers from VJTI, Mumbai.....  
    
    
  </body>
  
  
</html>
    

</main>

<%- include ('./partials/footer.ejs') %>