<%- include ('./partials/header.ejs') %>


<main>
    <div class="container">
    <div class="jumbotron">

    </div>
</div>

<html>
  <head>
  <title>
    Weather forecaster and Travel Advisor
    </title>
  </head>

<div class="container2">
  <div class="widget">
    <div class="details">
      <div class="temperature">20°</div>
      <div class="summary">
        <p class="summaryText">Mostly Cloudy</p>
      </div>
      <div class="precipitation">Precipitation: 20%</div>
      <div class="wind">Wind: 3 mph</div>
    </div>
    <div class="pictoBackdrop"></div>
    <div class="pictoFrame"></div>
    <div class="pictoCloudBig"></div>
    <div class="pictoCloudFill"></div>
    <div class="pictoCloudSmall"></div>
    <div class="iconCloudBig"></div>
    <div class="iconCloudFill"></div>
    <div class="iconCloudSmall"></div>
  </div>
</div>
   
  
  <body>
    <p>
     <h3>
      About Us:
    </h3>
   This website has been designed by web developers from VJTI, Mumbai.....  
    
    
  </body>
  
  
</html>
    

</main>

<%- include ('./partials/footer.ejs') %>