<%- include ('./partials/header') %>

    <div class="container">
        <div class="card text-white bg-primary">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><%= tour.place %></h5>
                <p class="card-text">Distance: <%= tour.distance %></p>
            </div>
            <div class="card-footer text-white">
                <small>Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    
<%- include ('./partials/footer') %>