<%- include ('./partials/header') %>
    
<%- include ('./partials/map_nav') %>

    
    <img src="https://www.mapsofindia.com/maps/india/india-map-annualtemperature.jpg" style="max-width: 50%; max-height: 50%; margin: auto;" class="mb-5" alt="">
    <img src="https://www.eldoradoweather.com/climate/world-maps/images/world-temperature-map.png" style="max-width: 50%; max-height: 50%; margin: auto;" class="mb-5" alt="">
    <!--<img src="<%= map %>">
    <div id="map"></div>

    <div id="temp_map"></div>
    -->

<%- include ('./partials/footer') %>