<%- include ('./partials/header') %>
    
<%- include ('./partials/map_nav') %>

    <div id="map"></div>

    <div id="temp_map"></div>
    <img src="https://static.mapsofindia.com/maps/india-map-annualtemperature.jpg" alt="">

    <img src="<%= map %>">

<%- include ('./partials/footer') %>