<%- include ('./partials/header') %>
    
<%- include ('./partials/map_nav') %>

    <div id="map"></div>

    <iframe src="https://tile.openweathermap.org/map/temp_new/100/3/2.png?appid=48164502b664fb28643399e9f69d1016" frameborder="5"></iframe>

    <img src="https://static.mapsofindia.com/maps/india-map-annualtemperature.jpg" alt="">

    <img src="<%= map %>">

<%- include ('./partials/footer') %>